<section class="bg-gray-50 pt-12 lg:pt-16 relative pt-52 lg:pb-16">
	<div
	  class="max-w-7xl mx-auto px-4 xl:px-0 grid lg:grid-cols-2 lg:gap-x-20 xl:gap-x-40"
	>
	  <div></div>
	  <div class="mt-12 flex flex-col items-start lg:mt-0">
		<div
		  class="items-center justify-center rounded-full text-sm font-medium whitespace-nowrap shadow-[0_2px_10px_0px_rgba(0,0,0,0.15)] inline-flex bg-slate-900 text-white px-2.5 py-1"
		>
		  Our Advantages
		</div>
		<div
		  class="bg-gradient-to-b from-slate-800 to-slate-600 bg-clip-text text-3xl font-semibold text-transparent lg:text-5xl mt-3 lg:mt-4 lg:leading-tight"
		>
		  Make Shopify Translate & Adapt Smarter
		</div>
		<p
		  class="mt-3 text-sm font-medium text-slate-600 sm:w-2/3 md:w-11/12 lg:mt-4 xl:w-3/4"
		>
		  Bring fast, accurate AI translation directly to Shopify's Translate & Adapt. No clunky apps. No conflicts. Just seamless integration.
		</p>
		<ul class="mt-8 flex flex-col items-start gap-y-2 lg:mt-9">
		  <li class="flex items-center gap-x-4">
			<svg
			  class="h-5 shrink-0 text-slate-600"
			  xmlns="http://www.w3.org/2000/svg"
			  viewBox="0 0 24 24"
			  fill="currentColor"
			  aria-hidden="true"
			  data-slot="icon"
			>
			  <path
				fill-rule="evenodd"
				d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z"
				clip-rule="evenodd"
			  />
			</svg>
			<p class="text-sm font-medium text-neutral-500">Add instant AI translation features to your Shopify translate & Adapt app</p>
		  </li>
		  <li class="flex items-center gap-x-4">
			<svg
			  class="h-5 shrink-0 text-slate-600"
			  xmlns="http://www.w3.org/2000/svg"
			  viewBox="0 0 24 24"
			  fill="currentColor"
			  aria-hidden="true"
			  data-slot="icon"
			>
			  <path
				fill-rule="evenodd"
				d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z"
				clip-rule="evenodd"
			  />
			</svg>
			<p class="text-sm font-medium text-neutral-500">
			  Translation model optimized specifically for e-commerce websites
			</p>
		  </li>
		  <li class="flex items-center gap-x-4">
			<svg
			  class="h-5 shrink-0 text-slate-600"
			  xmlns="http://www.w3.org/2000/svg"
			  viewBox="0 0 24 24"
			  fill="currentColor"
			  aria-hidden="true"
			  data-slot="icon"
			>
			  <path
				fill-rule="evenodd"
				d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z"
				clip-rule="evenodd"
			  />
			</svg>
			<p class="text-sm font-medium text-neutral-500">
			  No per-store fees — supports an unlimited number of Shopify stores
			</p>
		  </li>
		  <li class="flex items-center gap-x-4">
			<svg
			  class="h-5 shrink-0 text-slate-600"
			  xmlns="http://www.w3.org/2000/svg"
			  viewBox="0 0 24 24"
			  fill="currentColor"
			  aria-hidden="true"
			  data-slot="icon"
			>
			  <path
				fill-rule="evenodd"
				d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z"
				clip-rule="evenodd"
			  />
			</svg>
			<p class="text-sm font-medium text-neutral-500">
			  Personalized translations via the sidebar AI assistant
			</p>
		  </li>
		  <li class="flex items-center gap-x-4">
			<svg
			  class="h-5 shrink-0 text-slate-600"
			  xmlns="http://www.w3.org/2000/svg"
			  viewBox="0 0 24 24"
			  fill="currentColor"
			  aria-hidden="true"
			  data-slot="icon"
			>
			  <path
				fill-rule="evenodd"
				d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z"
				clip-rule="evenodd"
			  />
			</svg>
			<p class="text-sm font-medium text-neutral-500">No need to install any third-party Shopify apps</p>
		  </li>
		</ul>
	  </div>
	</div>
	<img
	  class="absolute left-0 top-0 h-52 w-full object-cover object-left-top lg:h-full lg:w-1/2"
	  src="https://tailkits.com/ui/iframe/assets/img/bg-linear-6.png"
	  alt="Features"
	/>
  </section>
  