<section class="bg-white pt-12 lg:pt-16 pb-12 lg:pb-16">
    <div class="max-w-7xl mx-auto px-4 xl:px-0">
      <div class="flex flex-col items-center">
        <!-- <div
          class="items-center justify-center rounded-full text-sm font-medium whitespace-nowrap shadow-[0_2px_10px_0px_rgba(0,0,0,0.15)] inline-flex bg-white text-neutral-700 px-2.5 py-1"
        >
          Contact
        </div> -->
        <div
          class="mt-6 bg-gradient-to-b from-slate-800 to-slate-600 bg-clip-text text-center text-3xl font-semibold text-transparent sm:w-2/3 md:w-1/2 lg:mt-9 lg:text-4xl lg:leading-tight xl:w-7/12"
        >
          The Best Way to Translate Your Shopify Store
        </div>
        <p
          class="text-sm font-medium text-slate-600 leading-normal lg:leading-normal lg:text-base mt-4 text-center sm:mx-auto sm:w-2/3 md:w-1/2 xl:w-2/5"
        >
          Built for Speed, Quality & Scale. 
        </p>
      </div>
      <div
        class="mt-12 grid items-center gap-y-8 text-center md:px-4 lg:grid-cols-3 lg:gap-x-12 lg:gap-y-0 lg:px-8"
      >
        <div
          class="relative first:before:relative before:left-1/2 before:-translate-x-1/2 lg:before:translate-x-0 before:w-16 before:h-px before:absolute lg:before:-left-6 lg:before:top-1/2 lg:before:-translate-y-1/2 lg:before:w-px lg:before:h-16 before:bg-neutral-100 before:-top-4"
        >
          <div
            class="bg-gradient-to-b from-slate-800 to-slate-600 bg-clip-text text-5xl font-semibold text-transparent lg:text-6xl xl:text-7xl"
          >
            5X
          </div>
          <p class="mt-1 px-2.5 text-sm font-medium text-neutral-500 lg:mt-3">
            Faster Translation 
          </p>
        </div>
        <div
          class="relative first:before:relative before:left-1/2 before:-translate-x-1/2 lg:before:translate-x-0 before:w-16 before:h-px before:absolute lg:before:-left-6 lg:before:top-1/2 lg:before:-translate-y-1/2 lg:before:w-px lg:before:h-16 before:bg-neutral-100 before:-top-4"
        >
          <div
            class="bg-gradient-to-b from-slate-800 to-slate-600 bg-clip-text text-5xl font-semibold text-transparent lg:text-6xl xl:text-7xl"
          >
            32%
          </div>
          <p class="mt-1 px-2.5 text-sm font-medium text-neutral-500 lg:mt-3">
            AI-Powered Accuracy
          </p>
        </div>
        <div
          class="relative first:before:relative before:left-1/2 before:-translate-x-1/2 lg:before:translate-x-0 before:w-16 before:h-px before:absolute lg:before:-left-6 lg:before:top-1/2 lg:before:-translate-y-1/2 lg:before:w-px lg:before:h-16 before:bg-neutral-100 before:-top-4"
        >
          <div
            class="bg-gradient-to-b from-slate-800 to-slate-600 bg-clip-text text-5xl font-semibold text-transparent lg:text-6xl xl:text-7xl"
          >
            60+
          </div>
          <p class="mt-1 px-2.5 text-sm font-medium text-neutral-500 lg:mt-3">
            60+ Languages — Global reach
          </p>
        </div>
      </div>
    </div>
  </section>
  